.PostsList {
  background-color: #000;
  color: #FFF;
  display: flex;
  flex: 0.3;
  overflow: auto;
}

.PostsList-header {
  align-items: center;
  background-color: #24292E;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  position: fixed;
  text-align: center;
  width: 30%;
  z-index: 1;
}

.PostsList-header h2 {
  margin: 0;
}

.PostsList-button {
  align-items: center;
  border-radius: 25px;
  background-color: #FFF;
  border: 0;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  cursor: pointer
}

.PostsList-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.PostsList-button-icon {
  color: #000;
  font-size: 24px;
}

.PostsList-list {
  background-color: #000;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 80px 0 50px;
  padding: 0;
}

.PostsList-footer {
  align-items: center;
  background-color: #24292E;
  border: none;
  bottom: 0;
  color: orange;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  position: fixed;
  width: 30%;
}

.loader-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid orange; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.move-enter {
  opacity: 0.01;
  transform: translate(-400px, 0)
}

.move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}

.move-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.move-exit-active {
  opacity: 0.01;
  transform: translate(400px, 0);
  transition: all 500ms ease-in;
}
